<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2>Shipping</h2>
            <form #shippingForm="ngForm" (ngSubmit)="placeOrder(shippingForm.value)">
                <!-- ="ngForm was missing" -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input ngModel #name="ngModel" type="text" name="name" id="name" class="form-control"
                        placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="addressL1">Address</label>
                    <input ngModel #AddressL1="ngModel" type="text" name="AddressL1" id="AddressL1" class="form-control"
                        placeholder="Line 1">
                    <input ngModel #AddressL2="ngModel" type="text" name="AddressL2" id="AddressL2"
                        class="form-control mt-4" placeholder="Line 2">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input ngModel #city="ngModel" type="text" name="city" id="city" class="form-control"
                        placeholder="City">
                </div>
                <button class="btn btn-primary mt-3">Place Order</button>
            </form>
        </div>
        <div class="col-md-5 side mx-5">
            <h3 class="mt-2">Order Summary</h3>
            <div class="list-group list-group-flush">
                <div class="list-group-item">You have {{ nOfProds }} items in your shopping cart.</div>
                <div class="list-group-item" *ngFor="let p of prods">{{ p.quantity }} x {{ p.title }}
                    <span class="float-right">
                        {{ p.totalPrice | number : '1.3-3' }} TND
                    </span>
                </div>
                <div class="list-group-item font-weight-bold">Total
                    <span class="float-right">{{ totalPrice?.totalPrice | number : '1.3-3' }}</span>
                </div>

            </div>
        </div>
    </div>
</div>