<div class="card" style="width: 15rem;">
    <img class="card-img-top" src="{{ product.imageURL }}" alt="{{ product.title }}">
    <div class="card-body">
        <h5 class="card-title text-center my-3">{{ product.title }}</h5>
        <p class="card-text text-center">Price: {{ product.price }} TND</p>
        <div class="custom row no-gutters">
            <button *ngIf="!quantity || quantity === 0; else updateQuantity" (click)="addToCart()"
                class="btn btn-secondary btn-block">Add to Cart</button>
            <ng-template #updateQuantity>
                <product-quantity [product]="product"></product-quantity>
            </ng-template>
        </div>
    </div>
</div>