<div class="card" style="width: 15rem;">
    <img class="card-img-top" src="{{ product.imageURL }}" alt="{{ product.title }}">
    <div class="card-body">
        <h5 class="card-title text-center my-3">{{ product.title }}</h5>
        <p class="card-text text-center">Price: {{ product.price }} TND</p>
        <div class="card-footer row no-gutters">
            <button *ngIf=" quantity === 0; else updateQuantity" (click)="addToCart(product)"
                class="btn btn-secondary btn-block">Add to Cart</button>
            <ng-template #updateQuantity class="btns no-gutters row">
                <div class="col-2">
                    <button class="btn btn-secondary btn-block">-</button>
                </div>
                <div class="col-8 text-center">
                    {{ quantity }} in Cart
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary btn-block">+</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>