<h1>Shopping Cart</h1>
<h4 class="my-3">You have {{ nOfProds }} items in your shopping cart.</h4>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of prods">
            <td>{{ p.title }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.totalPrice }} TND</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td *ngIf="totalPrice.totalPrice > 0">{{ totalPrice.totalPrice }} TND</td>
        </tr>
    </tfoot>
</table>