<h1>Shopping Cart</h1>
<h4 class="my-3">You have {{ nOfProds }} items in your shopping cart.</h4>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of prods">
            <td>{{ p.title }}</td>
            <td>
                <product-quantity class="custom card-footer" [product]="p"></product-quantity>
            </td>
            <td>{{ p.totalPrice | number : '1.3-3' }} TND</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td *ngIf="totalPrice.totalPrice > 0">{{ totalPrice.totalPrice | number : '1.3-3' }} TND</td>
            <!-- pipe round to 1 digit before and 3  to 3 digits before decimal means only 3 -->
        </tr>
    </tfoot>
</table>