<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p><input #query (keyup)="Filter(query.value)" type="text" class="form-control" placeholder="Search..."></p>

<table class="table mt-2">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{ p.title }}</td>
            <td>{{ p.price }} TND</td>
            <td>
                <a [routerLink]="['/admin/products/', p.uid]">Edit</a>
            </td>
        </tr>
        <!-- brackets to generate dynamically qm -->
    </tbody>
</table>