<div class="row">
    <div class="col-md-3 ">
        <div class="list-group" (click)="filter()">
            <a [class.active]="category === c.title" routerLink="/" [queryParams]="{ category: c.title }"
                class="list-group-item list-group-item-action" *ngFor="let c of categories$ | async">{{ c.title }}</a>

        </div>
    </div>
    <div class="col-md-9 row">
        <div class="col-xl-4 col-md-6 my-2" *ngFor="let p of filteredProducts">

            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="{{ p.imageURL }}" alt="{{ p.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ p.title }}</h5>
                    <p class="card-text">Price: {{ p.price }} TND</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>